body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: pink;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png');
  background-size: cover;
}